*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 2px 5px rgba(1, 1,1, 0.1);
    border-radius: 10px;
}
.form_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid:20px ;
    
}